<div class="logbg p-4 mt-5">
  <div class="container">
      <p class="text-secondary ms-5"><a routerLink="" class="myhomepg text-secondary">Home</a> > Shop</p>
  </div>
</div>

<div class="container px-md-5 mt-5">
  <div class="row mx-md-5 logbg p-4">
      <div class="col pt-3">
          <b>Shop</b>
      </div>
      <div class="col col-md"> 
          <div class="row">
            <div class="col pt-3">
                <p class="mt-1">Sort By</p>
            </div>
            <div class="col pt-3">
                <select class="form-select border-0 bg-transparent fw-bold" style="width: 180px;" aria-label="Default select example">
                    <option selected>Sorting</option>
                    <option value="1">Popularity</option>
                    <option value="2">Newness</option>
                    <option value="3">Average Rating</option>
                    <option value="3">Price: low to high</option>
                    <option value="3">Price: high to low</option>
                </select>
            </div>
      </div>
  </div>
</div>

<div class="container px-md-5 mt-5">
  <div class="row row-cols-1 row-cols-md-4 g-4" id="cart-items">
    <div class="col mx-5 mx-md-0 border text-center" *ngFor="let prod of product">
        <img [src]="prod.img" class="d-block bg-transparent image1" height="150px" alt="">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span><br><br>
        <a (click)="ProductPage(prod.id)" class="mt-4 fw-bold myprod product-link">{{ prod.title }}</a>
        <p class="text-primary">$ {{ prod.price }}</p>
      </div>
  </div>
</div>
