<div class="logbg p-4 mt-5">
    <div class="container">
        <p class="text-secondary ms-5"><a href="index.html" class="myhomepg text-secondary">Home</a> > Shop</p>
    </div>
  </div>
  
  <section class="container sproduct pt-3">
    <div class="row mt-5" [innerHTML]="htmlvalue">
        
    </div>
    <div class="text-center">
      <button (click)="addToCart()"  class="btn btn-outline-success mybg1 border-0 px-4 py-2 add-cart">
        <!-- (click)="openCartIcon()" -->
        Add to cart
      </button>
    </div>
  </section>