<div class="container-fluid mybg1 mt-5">
    <div class="row">
      <div class="col my-4 ms-5">
        <p>© 2021 XpeedStudio All Rights Reserved</p>
      </div>
      <div class="col my-4">
        <p>
          <a href="#">
            <img src="/assets/images/facebook.svg" class="ms-5"  alt="" width="30" height="14">Facebook
          </a>
          <a href="#">
            <img src="/assets/images/twitter.svg" alt="" width="30" height="14">Twitter
          </a>
          <a href="#">
            <img src="/assets/images/pinterest.svg" alt="" width="30" height="14">Pinterest
          </a>
          <a href="#">
            <img src="/assets/images/instagram.svg"  alt="" width="30" height="14">Instagram
          </a>
        </p>
      </div>
    </div>
  </div>